pre {
    white-space: break-spaces;
    font-size: 18px;
}

span.section-list-label {
    display: inline-block;
    min-width: 8em;
}

.section-radio {
    display: inline-block;
    margin-left: 1em;
}


/* large screen widths */
@media screen and (min-width: 900px) {
    body {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
    }
    #intro {
	max-width: 600px;
    }
}

/* small screen widths */
@media not screen and (min-width: 900px) {
    body {
	display: block;
    }
}
